<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Google Test Automation Test Suite">

    <test name="Test Task">
        <classes>
            <class name="com.google.qa.tests.GoogleLogOutTest"></class>
            <class name="com.google.qa.tests.GoogleSendMailTest"></class>
            <class name="com.google.qa.tests.GoogleSignInTest"></class>

        </classes>
    </test>
</suite>